body{
    background-color:rgb(255, 241, 241);
}
.roof img{
    width: 100%;
}
.headerworld h1{
    font-size: 12mm;
    text-align: center;
    margin-bottom: 0px;
}
.headerworld p{
    font-size: 6mm;
    text-align: right;
    position: relative;
    right: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.headerworld hr{
    border: solid rgb(0, 0, 0);
    width: 95%;
    margin-bottom: 0px;
}
nav{
    width: 99%;
    height: 50px;
    margin: auto;
}

nav p{
    display: inline;
    padding: 8px;
    background-color: pink;
    font-size: 7.5mm;
    margin-right: 2%;
    border: #3d1101 solid 2px;
    border-radius: 0 0 2mm 2mm ;
}

nav a{
    text-decoration: none;
    color:black;
}

.nl{
    width: 57.5%;
    height: 50px;
    margin: 3px 0px 0 30px;
    float: left;
}

.search{
    float: left;
    margin-top: 7px;
    width: 30%;
    margin-right:2.5% ;
}

.search-bar{
    width: 100%;
    height: 26px;
    font-size: 20px;
    border: 3px solid #3d1101;
    background-color: #efe9e7;
    position: relative;
    float: left;
}

.search-btn {
    width: 36px;
    height: 32px;
    background-color:pink;
    outline: none;
    border: 2px solid #3d1101;
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: -37px;
    margin-top: 1px;
}

.nr{
    width: 5%;
    float: left;
}
.top p{
    background-color: white;
    border: solid #a2b59f 2mm;
    height:15mm;
    width:15mm;
    position: fixed;
    bottom:2.0%;
    left:95%;
    text-align: center;
    font-size: 25px;
    padding: auto;
    padding: 5px;
}




.commodity{
    background-color: bisque;
    padding: 55px;
    width: 70%;
    margin: auto;
    border-radius: 25mm;
    border: #d9c033 20px solid;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 1330px;
}
.topcom{
    margin-bottom: 80px;
}
.topcom img{
    width: 300px;
    height: 300px;
    border-radius: 4cm;
    margin-left: 100px;
}
.rightcom{
    margin-left: 500px;
    margin-top: -300px;
    width: 400px;
}
.rightcom p{
    display: inline-block;
    line-height: 23px;
}
.line-through{
    text-decoration: line-through;
    opacity: 0.3;
    font-size: 2mm;
}
.count {
    width: 35px;
    height: 35px;
    color: #000000;
    background-color:pink;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    margin-top: 18px;
}
.input{
    height:28px;
    width: 100px;
    text-align: center;
}
.input1{
    font-size: 6mm;
    background-color: pink;
    padding:10px;
    border-radius: 4mm;
    margin-top: 20px;
}

.downcom{
    width: 100%;
}
.input2{
    opacity: 0;
}
label{
    cursor: pointer;
    background: #d794c0;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 1.5% 3%;
    float: left;
    margin-right: 2px;
    font-size: larger;
    width: 150px;
    text-align: center;
}
label:hover{
    background: rgb(227, 187, 187);
}
input:checked+label{
    background: rgb(210, 150, 150);
    color: rgb(245, 242, 239);
}

.downcom input:nth-of-type(1):checked~.part .part1:first-child,
.downcom input:nth-of-type(2):checked~.part .part2:nth-child(2){
    opacity: 1;
    /* -webkit-transition: .3s; */
    z-index: 1; 
}


.part{
    clear: both;
    position: relative;
    width: 100%;
    background: rgb(210, 150, 150);
}
.part1{
    width: 100%;
    opacity: 0;
    background: rgb(210, 150, 150);
    border-radius: 0 15px 0 0 ;
    position: absolute;
    height: 620px;
}
.toppart1{
    margin: 50px;
}
.toppart1 p{
    font-size: 6mm;
}
.downpart1{
    margin-left: 13%;
}
.downpart1 a{
    color: black;
}
.downpart1 img{
    width: 200px;
    height: 200px;
}
.downpart1 p{
    display:inline-block;
    font-size: 5mm;
    line-height:5px;
}
.candypic1{
    float: left;
    margin:30px;
}
.candypic1:hover{
    color:azure;
}
.candypic2{
    float: left;
    padding:30px;
}
.candypic2:hover{
    color:azure;
}
.candypic3{
    float: left;
    padding:30px;
}
.candypic3:hover{
    color:azure;
}
.candyword{
    text-align: center;
}



.part2 {
    width: 100%;
    opacity: 0;
    background:rgb(210, 150, 150);
    border-radius: 0 15px 0 0 ;
    padding: 5%;
    box-sizing: border-box;
    position: absolute;
    height: 750px;
    font-size: 6mm;
}
.part2 hr{
    border: solid 4px rgb(177, 177, 227);
    width: 250px;
    margin: 0px;
}
.think{
    margin-top: 35px;
}
.t1{
    margin-bottom: 35px;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 5mm;
}
.t2{
    margin-bottom: 35px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 5mm;
}
.t3{
    margin-bottom: 35px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 5mm;
}

.t1right{
    float: right;
    margin: 20px 250px 0px 0px;
}
.t2right{
    float: right;
    margin: 20px 300px 0px 0px;
}
.tmeright{
    float: right;
    margin: 15px 140px 0px 0px;
}

.p1down{
    margin-top: 620px;
    background-color: rgb(219, 194, 161);
    padding: 10px;
    border-radius: 0 0 4mm 4mm;
    border: rgb(141, 122, 98) solid 8px;
}
.p1down img{
    margin-top: 40px;
    margin-left: 380px;
    margin-right: 380px;
    width: 200px;
}
.p1down p{
    font-size: 6mm;
    padding: 10px;
    width: 80%;
    background-color: #efe9e7;
    border: #d794c0 4px solid;
    border-radius:3mm;
    margin: auto;
    text-align: center;
}
.p1down img:hover{
    transform: scale(2);
    transition: 3s;
}






.footerhr hr{
    border: solid black;
    width: 95%;
}
.footerinform{
    text-align: center;
    font-size: 5mm;
}
.footerinform p{
    margin: 11px;
}
.threeQ{
    line-height: 2mm;
}
.threeQ ul{
    text-align: center;
    float: right;
    margin: -120px 460px 0 0 ;
}
.threeQ li{
    list-style: none;
    display: inline-block;
}
.threeQ img{
    width: 45px;
    height: 45px;
}
.threeQ a{
    text-decoration: none;
}
