body{
    background-color:rgb(200, 215, 241);
}
.roof img{
    width: 100%;
}
.headerworld h1{
    font-size: 12mm;
    text-align: center;
    margin-bottom: 0px;
}
.headerworld p{
    font-size: 6mm;
    text-align: right;
    position: relative;
    right: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.headerworld hr{
    border: solid rgb(0, 0, 0);
    width: 95%;
    margin-bottom: 0px;
}
nav{
    width: 99%;
    height: 50px;
    margin: auto;
}

nav p{
    display: inline;
    padding: 8px;
    background-color: pink;
    font-size: 7.5mm;
    margin-right: 2%;
    border: #3d1101 solid 2px;
    border-radius: 0 0 2mm 2mm ;
}

nav a{
    text-decoration: none;
    color:black;
}

.nl{
    width: 57.5%;
    height: 50px;
    margin: 3px 0px 0 30px;
    float: left;
}

.search{
    float: left;
    margin-top: 7px;
    width: 30%;
    margin-right:2.5% ;
}

.search-bar{
    width: 100%;
    height: 26px;
    font-size: 20px;
    border: 3px solid #3d1101;
    background-color: #efe9e7;
    position: relative;
    float: left;
}

.search-btn {
    width: 36px;
    height: 32px;
    background-color:pink;
    outline: none;
    border: 2px solid #3d1101;
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: -37px;
    margin-top: 1px;
}

.nr{
    width: 5%;
    float: left;
}
.top p{
    background-color: white;
    border: solid #a2b59f 2mm;
    height:15mm;
    width:15mm;
    position: fixed;
    bottom:2.0%;
    left:95%;
    text-align: center;
    font-size: 25px;
    padding: auto;
    padding: 5px;
}
.part1{
    margin: auto;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.t1 p{
    font-size: 8mm;
    background-color: darksalmon;
    padding: 4mm;
    border-radius: 5mm 5mm 0 0 ;
    width: 165px;
    margin: 0 0 0 0;
    text-align: center;
}
.check{
    background-color: darksalmon;
    border-radius: 0 5mm 5mm 5mm;
    padding:20px;
    margin: 0 0 0 0;
}
.c1{
    margin: 40px 0 60px 40px;
    background-color: antiquewhite;
    border-radius: 5mm;
    width: 90%;
    height: 355px;
}
.check img{
    width: 220px;
    height: 220px;
    margin: 40px 20px 40px 40px; 
    float: left;
    border-radius: 20mm;
}
.righttop{
    width: 50%;
    margin-top: 44px;
    margin-bottom: 15px;
    font-size: 6mm;
    line-height: 9mm;
    padding: 10px 10px 10px 40px;
    background-color: gainsboro;
    float: left;
    border-radius: 5mm;
}
.count {
    width: 35px;
    height: 35px;
    color: #000000;
    background-color:pink;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}
.input{
    height:28px;
    width: 100px;
    text-align: center;
}
.pretotal{
    font-size: 6mm;
    margin: 40px 0 0 295px;
}
.delete p{
    margin: 0px;
}
.delete a{
    text-decoration: none;
    color:rgb(176, 98, 67);
}
.delete{
    font-size: 6mm;
    float: left;
    margin: -4px 0 0 60px ;
    background-color: rgb(192, 211, 247);
    padding: 10px;
    border-radius: 4mm;
}
.c2{
    margin: 0 0 60px 40px;
    background-color: antiquewhite;
    border-radius: 5mm;
    width: 90%;
    height: 355px;
}
.c3{
    width: 90%;
    margin: auto;
}
.c3word{
    background-color:  antiquewhite;
    border-radius: 5mm;
    margin-bottom: 140px;
}
.c3word p{
    display: inline-block;
    font-size: 8mm;
    margin-right: 40px;
}
.c4 p{
    display: inline;
    padding: 12px;
    background-color: rgb(248, 205, 197);
    border-radius: 3mm;
    border: black solid 4px;
    font-size: 7mm;
    margin-top: -95px;
}
.c4 a{
    text-decoration: none;
    color: black;
}


.footerhr hr{
    border: solid black;
    width: 95%;
}
.footerinform{
    text-align: center;
    font-size: 5mm;
}
.footerinform p{
    margin: 11px;
}
.threeQ{
    line-height: 2mm;
}
.threeQ ul{
    text-align: center;
    float: right;
    margin: -120px 460px 0 0 ;
}
.threeQ li{
    list-style: none;
    display: inline-block;
}
.threeQ img{
    width: 45px;
    height: 45px;
}
.threeQ a{
    text-decoration: none;
}
