body{
    background-color:rgb(233, 241, 255);
}
.roof img{
    width: 100%;
}

.headerworld h1{
    font-size: 12mm;
    text-align: center;
    margin-bottom: 0px;
}

.headerworld p{
    font-size: 6mm;
    text-align: right;
    position: relative;
    right: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerworld hr{
    border: solid rgb(0, 0, 0);
    width: 95%;
    margin-bottom: 0px;
}



nav{
    width: 99%;
    height: 50px;
    margin: auto;
}

nav p{
    display: inline;
    padding: 8px;
    background-color: rgb(148, 194, 223);
    font-size: 7.5mm;
    margin-right: 2%;
    border: #3d1101 solid 2px;
    border-radius: 0 0 2mm 2mm ;
}

nav a{
    text-decoration: none;
    color:black;
}

.nl{
    width: 57.5%;
    height: 50px;
    margin: 3px 0px 0 30px;
    float: left;
}

.search{
    float: left;
    margin-top: 7px;
    width: 30%;
    margin-right:2.5% ;
}

.search-bar{
    width: 100%;
    height: 26px;
    font-size: 20px;
    border: 3px solid #3d1101;
    background-color: #efe9e7;
    position: relative;
    float: left;
}

.search-btn {
    width: 36px;
    height: 32px;
    background-color: rgb(148, 194, 223);
    outline: none;
    border: 2px solid #3d1101;
    cursor: pointer;
    position: absolute;
    float: right;
    margin-left: -37px;
    margin-top: 1px;
}

.nr{
    width: 5%;
    float: left;
}
.top{
    text-decoration: none;
    color: #a2b59f;
}
.top p{
    background-color: white;
    border: solid #a2b59f 2mm;
    height:15mm;
    width:15mm;
    position: fixed;
    bottom:2.0%;
    left:95%;
    text-align: center;
    font-size: 25px;
    padding: auto;
    padding: 5px;
    transform: translate(-50%,0);
}
.renew{
    background-color:#546395;
    border-radius: 8mm;
    border: #3d1101 solid 10px;
    width: 70%;
    margin: auto;
    margin-top: 100px ;
    margin-bottom: 100px;
    padding-bottom: 50px ;
}
.renew img{
    width: 45%;
    margin-left:28%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.r{
    width: 70%;
    border-radius: 6mm;
    background-color: rgb(238, 230, 217);
    margin: auto;
    padding: 20px 0 40px 60px;
}
.r p{
    font-size: 6.5mm;
}

#mySidenav a {
    position: fixed; 
    left: -120px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 160px;
    text-decoration: none; 
    font-size: 23px; 
    color: white; 
    border-radius: 0 50px 50px 0;
    display: flex;
}
#mySidenav img{
    margin-left: 25px;
    padding: 0%;
    width: 40px;
    height: 40px;
}
#mySidenav a:hover {
    left: 0; 
}
#about {
    top: 65%;
    background-color: #04AA6D;
}
  
#blog {
    top: 77%;
    background-color: #2196F3; 
}
  
#projects {
    top: 89%;
    background-color: #f44336; 
}
.footerhr hr{
    border: solid black;
    width: 95%;
}

.footerinform{
    text-align: center;
    font-size: 5mm;
}

.footerinform p{
    margin: 11px;
}

.threeQ{
    line-height: 2mm;
}

.threeQ ul{
    text-align: center;
    float: right;
    margin: -120px 460px 0 0 ;
}

.threeQ li{
    list-style: none;
    display: inline-block;
}

.threeQ img{
    width: 45px;
    height: 45px;
}

.threeQ a{
    text-decoration: none;
}
